{% extends "AppBundle::app.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="valign-wrapper">
        <h3 class="valign">Welcome</h3>
    </div>

{% endblock %}