{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Sign Up{% endblock %}
{% block fos_user_content %}


    <div class="card-panel grey lighten-5 ">
        <h2 class="col s12">Sign Up</h2>

        <div class="row valign-wrapper">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="Sign Up" />
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock fos_user_content %}