{% extends "AppBundle::app.html.twig" %}

{% block title %}Add student{% endblock %}

{% block content %}
    <h1>Add a student</h1>

    {{ form_start(form) }}
    {{ form_rest(form) }}

    <input class="btn " type="submit" value="Save" />
    {{ form_end(form) }}
{% endblock %}


