{% extends "AppBundle::app.html.twig" %}

{% block title %}Students list{% endblock %}

{% block content %}
        <ul class="collection">
            {% for student in students %}
                <li class="collection-item dismissable">
                    <div>{{ student.firstName }} - {{ student.lastName }}
                    <a class=" secondary-content" href="{{ path('student_delete', {id: student.id}) }}"><i class="red-text fa fa-times"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>

    <a href="{{ path('student_add') }}" class="btn-floating btn-large waves-effect waves-light green"><i class="fa fa-plus"></i></a>
{% endblock %}
